* {
    margin: 0;
    padding: 0;
}
  
html {
    font-size: 62.5%;
}
body {
    background-color: #456363;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
}
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

h1 { // child of title-bar
    font-size: 4rem;
    font-family: 'Permanent Marker', cursive;
}
  
@import './components/_titlebar.scss';
@import './components/wrapper';
@import './components/singleItem';
@import './components/footer';
@import './components/votes';
@import './components/button';

